@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Carlito&family=K2D:wght@200&family=Luxurious+Roman&family=Merriweather&family=Racing+Sans+One&family=Raleway:wght@300&family=Rubik+Glitch&display=swap');





.shopTitle {
    color:#fffefe;
    margin-top: 50px;
    text-align: center;
    font-size: 22px;
    position: absolute;
    bottom: 640px;
    left:65px;
    font-family: 'Merriweather', serif;
}

.products {
    width:100%;
    height:auto;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

.product {
    border-radius: 16px;
    width:300px;
    height:350px;
    margin:100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product img {
    width:400px;
}

.product .description {
    text-align: center;
}

.product:hover {
    transition: 0.2s ease-in;
    cursor: pointer;
}

.addToCartBtn {
    background-color: transparent;
    border: 2px solid rgb(17, 17 ,17);
    min-width: 100px;
    border-radius: 16px;
    padding:5px 10px 5px 10px;
}

.addToCartBtn:hover {
    background-color: rgb(17, 17 ,17);
    color:#fff;
    cursor: pointer;
}