.shopTitle {
    margin-top: 100px;
    text-align: center;
    font-size: 35px;
}

.products {
    width:100%;
    height:auto;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

.product {
    border-radius: 16px;
    width:300px;
    height:350px;
    margin:100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product img {
    width:400px;
}

.product .description {
    text-align: center;
}

.product:hover {
    transition: 0.2s ease-in;
    cursor: pointer;
}

.addToCartBtn {
    background-color: transparent;
    border: 2px solid rgb(17, 17 ,17);
    min-width: 100px;
    border-radius: 16px;
    padding:5px 10px 5px 10px;
}

.addToCartBtn:hover {
    background-color: rgb(17, 17 ,17);
    color:#fff;
    cursor: pointer;
}